* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3 {
  margin: 0;
  font-weight: normal; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

i {
  font-style: normal; }

#header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #31c27c; }
  #header h1 {
    display: none; }
  #header #logo {
    height: 25px;
    margin-left: 10px; }
  #header .download {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 8px;
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 99px;
    font-size: 14px;
    background: #149c5a;
    color: #fff; }

.navbar {
  background: #fff; }
  .navbar .nav-list {
    display: flex;
    align-items: center; }
    .navbar .nav-list .nav-item {
      flex: 1;
      cursor: pointer;
      position: relative;
      text-align: center;
      color: rgba(0, 0, 0, 0.6);
      height: 40px;
      line-height: 40px; }
      .navbar .nav-list .nav-item.active {
        color: #31c27c; }
      .navbar .nav-list .nav-item.active::after {
        content: "";
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 2px;
        background: #31c27c; }

.qq-slider {
  width: 100%;
  overflow: hidden; }
  .qq-slider .qq-slider-wrap {
    display: flex; }
  .qq-slider .qq-slider-item {
    flex-basis: 100%; }
    .qq-slider .qq-slider-item > a {
      display: block; }
      .qq-slider .qq-slider-item > a img {
        width: 100%;
        display: block; }

.hide {
  display: none; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.radios, .playlists {
  margin: 14px 2px 0 10px; }
  .radios .title, .playlists .title {
    color: #000;
    font-size: 16px;
    margin-bottom: 11px; }
  .radios .list, .playlists .list {
    display: flex;
    flex-wrap: wrap; }
    .radios .list .list-item, .playlists .list .list-item {
      flex: 1;
      flex-basis: 40%;
      background: #fff;
      margin-right: 8px;
      margin-bottom: 10px; }
      .radios .list .list-item .list-media, .playlists .list .list-item .list-media {
        position: relative;
        margin-bottom: 5px; }
      .radios .list .list-item .list-detail, .playlists .list .list-item .list-detail {
        padding: 0 7px 5px; }
      .radios .list .list-item .list-title, .playlists .list .list-item .list-title {
        font-size: 14px; }
      .radios .list .list-item .icon, .playlists .list .list-item .icon {
        background-repeat: no-repeat;
        background-size: 24px 60px;
        background-image: url("../images/icon_play.png"); }
      .radios .list .list-item .icon-play, .playlists .list .list-item .icon-play {
        height: 24px;
        bottom: 5px;
        right: 5px;
        width: 24px;
        position: absolute;
        background-position: 0 0; }
      .radios .list .list-item img, .playlists .list .list-item img {
        width: 100%;
        display: block;
        min-height: 145px; }

.radios .list-title {
  height: 36px; }

#rec-view .footer {
  margin: 10px 0 22px; }

.footer-logo {
  display: block;
  width: 82px;
  height: 24px;
  margin: 0 auto 10px;
  background-image: url(../images/logo_footer.png);
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px; }

#rank-view {
  margin: 10px; }

.toplist {
  margin-bottom: 50px; }
  .toplist .top-item {
    height: 100px;
    background: #fff;
    margin-bottom: 10px; }
  .toplist .top-item-media {
    float: left; }
    .toplist .top-item-media img {
      width: 100px;
      height: 100px;
      display: block; }
  .toplist .top-item-info {
    position: relative;
    padding: 7px 10px 6px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center; }
    .toplist .top-item-info::after {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -4px;
      width: 6px;
      height: 6px;
      transform: rotate(315deg);
      border-right: 1px solid #b2b2b2;
      border-bottom: 1px solid #b2b2b2; }
  .toplist .top-item-title {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px; }
  .toplist .top-item-list {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.5); }
    .toplist .top-item-list .top-item-song {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis; }
    .toplist .top-item-list .song-index {
      float: left;
      min-width: 10px;
      text-align: center; }
    .toplist .top-item-list .song-name {
      color: #000;
      margin-left: 8px;
      margin-right: 5px; }

.search-bar {
  display: flex;
  padding: 10px;
  background: #f4f4f4; }
  .search-bar .input-wrap {
    flex: 1;
    position: relative;
    border-radius: 3px;
    background: #fff;
    padding: 8px 12px 8px 35px; }
  .search-bar input {
    flex: 1;
    outline: 0;
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: rgba(0, 0, 0, 0.3);
    border: none;
    display: block;
    -webkit-appearance: none;
    font-size: 14px; }
  .search-bar ::-webkit-input-placeholder {
    color: #ccc; }
  .search-bar .icon-search {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    z-index: 999;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJlSURBVFhH7ZfRShRRHMb3Jkqzm7wJSrqIIDBxX6C0a62H6C7oqq4ixYreQMmMHkXbjLQeIYgyQuqiyIuotKDt923fyLCszv/MzF5EDnzs2T3/7zffOXNm5myjcXDUOAOtVquJ7qOn6AP6ZamtQ33NGk/ZG8VJJtEaagf1XJ7agwEdRI9zIT7RnkdT6Iz7VaO2flPf51z9I9oDtQQDNIxeGv6Nz9voaBFcNa79bu8LsYp8+/Z75FmYN3w/nwqUB204lFiDqYzd+txlek37RFkQ3pNIjDZaKsXBeMkATfloKUjOBGMMifUbXUzmYVp3oFvJ5j0M8GbNXEtiYtJzRtOru6lwAUfhsIZQdveNR30NTPccaD5sChbCXTD7btDSUCAdmqGpsClYCHPa7CdBSyeQXgEKNBI2BQthnjX7Y9DSCfTTpkNhU7AQ7jGzd4KWvgc67EDbKYH6eclOO9BmSqBsUU+HTcFCwJcdaCVo6Vyy7LZfCJuChbAfONCdoKUTKHsw6iE2FDYWFIqFthxoLImLSZsr3fqzScZ9isUyczWZiXEC6UWoF2LaaHqcDcY4+mHmheRAMmBe8oje8nmqFOQvZwS9N2uxLEcgbUuzDdpGmZnyzLxzGG3yqm1lARxH2VZEUz6DChc6NXoia83I087pRukZyozAjqCHvv6Cf0GL6Ao655MrgNr6TX1bDqF1qO/Xcv7qobymJoA+6xpxfvTd7VVqdxcw7au1h3IwbUfn0DJ6hb6ibbSJVtzX8w9B30JVWQf/QqibVQZYm7drpg5C7TmzuZnSI6JZ2yWoAnKo61UY/5f3Dy7dC4CdAEhQAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -999px; }

.search-results .song-item {
  position: relative;
  height: 55px;
  padding-left: 56px;
  overflow: hidden;
  background: #fff;
  border-bottom: 1px solid #ddd; }

.search-results .song-name {
  margin: 10px 0 2px;
  line-height: 18px;
  font-size: 16px;
  font-weight: normal;
  color: #000; }

.search-results .song-artist {
  color: #808080;
  font-size: 12px; }

.search-results .icon-music {
  top: 18px;
  left: 18px;
  width: 22px;
  height: 20px;
  position: absolute;
  background-position: 0 0;
  background-size: 22px 30px;
  background-repeat: no-repeat;
  background-image: url(../images/search.png); }

.search-loading {
  height: 55px;
  text-align: center;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center; }
  .search-loading.show {
    display: flex; }
  .search-loading .loading-icon {
    top: -2px;
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px 20px;
    background-image: url("../images/icon_loading.png");
    animation: loading 1s infinite; }
  .search-loading .loading-text {
    margin-left: 5px; }
  .search-loading .loading-done, .search-loading .loading-text {
    color: #808080;
    font-size: 12px; }

@keyframes loading {
  from {
    transform: rotate(0deg); }
  8.32% {
    transform: rotate(0deg); }
  8.33% {
    transform: rotate(30deg); }
  16.65% {
    transform: rotate(30deg); }
  16.66% {
    transform: rotate(60deg); }
  24.99% {
    transform: rotate(60deg); }
  25% {
    transform: rotate(90deg); }
  33.32% {
    transform: rotate(90deg); }
  33.33% {
    transform: rotate(120deg); }
  41.65% {
    transform: rotate(120deg); }
  41.66% {
    transform: rotate(150deg); }
  49.99% {
    transform: rotate(150deg); }
  50% {
    transform: rotate(180deg); }
  58.32% {
    transform: rotate(180deg); }
  58.33% {
    transform: rotate(210deg); }
  66.65% {
    transform: rotate(210deg); }
  66.66% {
    transform: rotate(240deg); }
  74.99% {
    transform: rotate(240deg); }
  75% {
    transform: rotate(270deg); }
  83.32% {
    transform: rotate(270deg); }
  83.33% {
    transform: rotate(300deg); }
  91.65% {
    transform: rotate(300deg); }
  91.66% {
    transform: rotate(330deg); }
  99.99% {
    transform: rotate(330deg); } }

body {
  background: #f4f4f4; }
