* {
  box-sizing: border-box; }

body {
  margin: 0; }

h1, h2, h3 {
  margin: 0;
  font-weight: normal; }

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none; }

a {
  text-decoration: none; }

.radios, .playlists {
  margin: 14px 2px 0 10px; }
  .radios .title, .playlists .title {
    color: #000;
    font-size: 16px;
    margin-bottom: 11px; }
  .radios .list, .playlists .list {
    display: flex;
    flex-wrap: wrap; }
    .radios .list .list-item, .playlists .list .list-item {
      flex: 1;
      flex-basis: 40%;
      background: #fff;
      margin-right: 8px;
      margin-bottom: 10px; }
      .radios .list .list-item .list-media, .playlists .list .list-item .list-media {
        position: relative;
        margin-bottom: 5px; }
      .radios .list .list-item .list-detail, .playlists .list .list-item .list-detail {
        padding: 0 7px 5px; }
      .radios .list .list-item .list-title, .playlists .list .list-item .list-title {
        font-size: 14px; }
      .radios .list .list-item .icon, .playlists .list .list-item .icon {
        background-repeat: no-repeat;
        background-size: 24px 60px;
        background-image: url("../images/icon_play.png"); }
      .radios .list .list-item .icon-play, .playlists .list .list-item .icon-play {
        height: 24px;
        bottom: 5px;
        right: 5px;
        width: 24px;
        position: absolute;
        background-position: 0 0; }
      .radios .list .list-item img, .playlists .list .list-item img {
        width: 100%;
        display: block;
        min-height: 145px; }

.radios .list-title {
  height: 36px; }

#header {
  display: flex;
  align-items: center;
  height: 44px;
  background: #31c27c; }
  #header h1 {
    display: none; }
  #header #logo {
    height: 25px;
    margin-left: 10px; }
  #header .download {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 8px;
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 99px;
    font-size: 14px;
    background: #149c5a;
    color: #fff; }

.navbar .nav-list {
  display: flex;
  align-items: center; }
  .navbar .nav-list .nav-item {
    flex: 1;
    cursor: pointer;
    position: relative;
    text-align: center;
    color: rgba(0, 0, 0, 0.6);
    height: 40px;
    line-height: 40px; }
    .navbar .nav-list .nav-item.active {
      color: #31c27c; }
    .navbar .nav-list .nav-item.active::after {
      content: "";
      display: block;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      height: 2px;
      background: #31c27c; }

.qq-slider {
  width: 100%;
  overflow: hidden; }
  .qq-slider .qq-slider-wrap {
    display: flex; }
  .qq-slider .qq-slider-item {
    flex-basis: 100%; }
    .qq-slider .qq-slider-item > a {
      display: block; }
      .qq-slider .qq-slider-item > a img {
        width: 100%;
        display: block; }

.hide {
  display: none; }

body {
  background: #f4f4f4; }
