#header {
  display: flex;
  align-items: center;
  height: $header-height;
  background: $header-background;
  h1 {
    display: none;
  }
  #logo {
    height: $logo-height;
    margin-left: 10px;
  }
  .show-player {
    position: absolute;
    display: inline-block;
    right: 10px;
    top: 8px;
    height: 28px;
    padding: 0 12px;
    line-height: 28px;
    border-radius: 99px;
    font-size: 14px;
    background: #149c5a;
    color: #fff;
  }
}