#player {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  position: fixed;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-100%);
  &.show { 
    opacity: 1;
    transform: translateY(0); 
  }
  .player-container {
    z-index: 9;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, .6);
  }
  .player-background {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    background-size: cover;
    background-position: bottom center;
    filter: blur(15px);
    transform: scale(1.15)
  }
  .player-header {
    display: flex;
    padding: 15px;
    align-items: center;
    background: rgba(0,0,0,.1);
    .icon-action {
      width: 44px;
      height: 44px;
      border: solid 1px #fff;
      border-radius: 50%;
      background: rgba(0,0,0,.1);
      opacity: .6;
      margin-right: 10px;
      background-image: url(../images/sprite_play.png);
      background-repeat: no-repeat;
      background-size: 40px 380px;
    }
    .icon-play {
      background-position: 15px -153px;
    }
    .icon-pause {
      background-position: 17px -183px;
    }

    .album-cover {
      width: 80px;
      height: 80px;
      display: block;
      margin-right: 15px;
    }
    .song-info {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: calc(100% - 150px);
    }
    .song-name {
      height: 30px;
      font-size: 18px;
      font-weight: normal;
      color: #fff;
    }
    .song-artist {
      height: 21px;
      font-size: 14px;
      color: #fff;
    }
  }

  .player-lyrics {
    flex: 1;
    overflow: hidden;
    margin: 36px 0 60px 0;
    color: rgba(255,255,255,.6);
    max-height: calc(100% - 205px);
    .player-lyrics-lines {
      overflow: hidden;
      transition: .5s;
    }
    .player-lyrics-line {
      height: 42px;
      line-height: 42px;
      overflow: hidden;
      padding: 0 15px;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: 16px;
      color: rgba(255,255,255,.6);
      text-align: center;
    }
    .active {
      color: $color-primary;
    }
  }

  .player-footer {
    position: relative;
    .icon-list {
      width: 40px;
      height: 40px;
      right: 13px;
      top: -40px;
      position: absolute;
      background-image: url(../images/sprite_play.png);
      background-repeat: no-repeat;
      background-size: 40px 380px;
      background-position: 8px -250px;
    }
    .progress {
      display: flex;
      align-items: center;
    }
    .progress-bar {
      flex: 1;
      overflow: hidden;
      background-color: rgba(255, 255, 255, .2);
      .progress-bar-progress {
        width: 100%;
        height: 2px;
        transform: translateX(-100%);
        background: $color-primary;
      }
    }
    .progress-time {
      top: 0;
      z-index: 1;
      width: 55px;
      font-size: 12px;
      color: #808080;
      line-height: 40px;
      text-align: center;
      letter-spacing: 1px;
    }
    .actions {
      height: 65px;
      margin-top: 10px;
    }
    .btn-download {
      position: relative;
      display: block;
      height: 45px;
      line-height: 45px;
      margin: 0 50px;
      padding: 0 55px;
      overflow: hidden;
      white-space: nowrap;
      font-size: 20px;
      color: #fff;
      border-radius: 999px;
      background-color: $color-primary;
      text-align: center;
      background-image: url(../images/sprite_play.png);
      background-repeat: no-repeat;
      background-size: 43px 380px;
      background-position: 6px -321px;
    }
  }
}