#rank-view {
  margin: 10px;
}

.toplist {
  margin-bottom: 50px;
  .top-item {
    height: 100px;
    background: #fff;
    margin-bottom: 10px;
  }
  .top-item-media {
    float: left;
    img {
      width: 100px;
      height: 100px;
      display: block;
    }
  }
  .top-item-info {
    position: relative;
    padding: 7px 10px 6px 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &::after {
      content: '';
      position: absolute;
      right: 10px;
      top: 50%;
      margin-top: -4px;
      width: 6px;
      height: 6px;
      transform: rotate(315deg);
      border-right: 1px solid #b2b2b2;
      border-bottom: 1px solid #b2b2b2;
    }
  }
  .top-item-title {
    color: #000;
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 5px;
  }
  .top-item-list {
    font-size: 14px;
    color: rgba(0,0,0,.5);
    .top-item-song {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
    .song-index {
      float: left;
      min-width: 10px;
      text-align: center
    }
    .song-name {
      color: #000;
      margin-left: 8px;
      margin-right: 5px;
    }
  }
}