* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

h1, h2, h3 {
  margin: 0;
  font-weight: normal;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

i {
  font-style: normal;
}