.search-bar {
  display: flex;  
  padding: 10px;
  background: #f4f4f4;
  .input-wrap {
    flex: 1;
    position: relative;
    border-radius: 3px;
    background: #fff;
    padding: 8px 12px 8px 35px;
  }
  input {
    flex: 1;
    outline: 0;
    height: 20px;
    line-height: 20px;
    width: 100%;
    color: rgba(0,0,0,.3);
    border: none;
    display: block;
    -webkit-appearance: none;
    font-size: 14px;
  }
  ::-webkit-input-placeholder {
    color: #ccc;
  }
  .icon-search {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 18px;
    height: 18px;
    z-index: 3;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACQAAAAkCAYAAADhAJiYAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAJlSURBVFhH7ZfRShRRHMb3Jkqzm7wJSrqIIDBxX6C0a62H6C7oqq4ixYreQMmMHkXbjLQeIYgyQuqiyIuotKDt923fyLCszv/MzF5EDnzs2T3/7zffOXNm5myjcXDUOAOtVquJ7qOn6AP6ZamtQ33NGk/ZG8VJJtEaagf1XJ7agwEdRI9zIT7RnkdT6Iz7VaO2flPf51z9I9oDtQQDNIxeGv6Nz9voaBFcNa79bu8LsYp8+/Z75FmYN3w/nwqUB204lFiDqYzd+txlek37RFkQ3pNIjDZaKsXBeMkATfloKUjOBGMMifUbXUzmYVp3oFvJ5j0M8GbNXEtiYtJzRtOru6lwAUfhsIZQdveNR30NTPccaD5sChbCXTD7btDSUCAdmqGpsClYCHPa7CdBSyeQXgEKNBI2BQthnjX7Y9DSCfTTpkNhU7AQ7jGzd4KWvgc67EDbKYH6eclOO9BmSqBsUU+HTcFCwJcdaCVo6Vyy7LZfCJuChbAfONCdoKUTKHsw6iE2FDYWFIqFthxoLImLSZsr3fqzScZ9isUyczWZiXEC6UWoF2LaaHqcDcY4+mHmheRAMmBe8oje8nmqFOQvZwS9N2uxLEcgbUuzDdpGmZnyzLxzGG3yqm1lARxH2VZEUz6DChc6NXoia83I087pRukZyozAjqCHvv6Cf0GL6Ao655MrgNr6TX1bDqF1qO/Xcv7qobymJoA+6xpxfvTd7VVqdxcw7au1h3IwbUfn0DJ6hb6ibbSJVtzX8w9B30JVWQf/QqibVQZYm7drpg5C7TmzuZnSI6JZ2yWoAnKo61UY/5f3Dy7dC4CdAEhQAAAAAElFTkSuQmCC);
    background-repeat: no-repeat;
    background-size: cover;
    text-indent: -999px;
  }
}

.search-results {
  .song-item {
    display: block;
    position: relative;
    height: 55px;
    padding-left: 56px;
    overflow: hidden;
    background: #fff;
    border-bottom: 1px solid #ddd;
  }
  .song-name {
    margin: 10px 0 2px;
    line-height: 18px;
    font-size: 16px;
    font-weight: normal;
    color: #000;
  }
  .song-artist {
    color: #808080;
    font-size: 12px;
  }
  .icon-music {
    top: 18px;
    left: 18px;
    width: 22px;
    height: 20px;
    position: absolute;
    background-position: 0 0;
    background-size: 22px 30px;
    background-repeat: no-repeat;
    background-image: url(../images/search.png);
  }
}

.search-loading {
  height: 55px;
  text-align: center;
  position: relative;
  display: none;
  align-items: center;
  justify-content: center;
  &.show { display: flex; }
  .loading-icon {
    top: -2px;
    width: 20px;
    height: 20px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    background-size: 20px 20px;
    background-image: url('../images/icon_loading.png');
    animation: loading 1s infinite;
  }
  .loading-text {
    margin-left: 5px;
  }
  .loading-done, .loading-text {
    color: #808080;
    font-size: 12px;
  }
}

@keyframes loading {
  from { transform: rotate(0deg) }
  8.32% { transform: rotate(0deg) }
  8.33% { transform: rotate(30deg) }
  16.65% { transform: rotate(30deg) }
  16.66% { transform: rotate(60deg) }
  24.99% { transform: rotate(60deg) }
  25% { transform: rotate(90deg) }
  33.32% { transform: rotate(90deg) }
  33.33% { transform: rotate(120deg) }
  41.65% { transform: rotate(120deg) }
  41.66% { transform: rotate(150deg) }
  49.99% { transform: rotate(150deg) }
  50% { transform: rotate(180deg) }
  58.32% { transform: rotate(180deg) }
  58.33% { transform: rotate(210deg) }
  66.65% { transform: rotate(210deg) }
  66.66% { transform: rotate(240deg) }
  74.99% { transform: rotate(240deg) }
  75% { transform: rotate(270deg) }
  83.32% { transform: rotate(270deg) }
  83.33% { transform: rotate(300deg) }
  91.65% { transform: rotate(300deg) }
  91.66% { transform: rotate(330deg) }
  99.99% { transform: rotate(330deg) }
}